/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
a {
	text-decoration: none;
	color: #000000;
}
a:hover {
	color: #B1663C;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
.blackBlock {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	padding: 10px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;

}
.blackBlocktext {
	padding: 5px;
	color: white;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}
#introduction p {
	margin-bottom: 0.5em;
}
.entete h2{
	display: inline;
	margin-right: 20px;
}
.entete {
	text-align: center;
}
#modifier:hover {
	text-decoration: none;
	cursor: pointer;
}
#modifier {
	border: none;
	font-size: 15px;
	background-color: white;
}
#portfolio {
	margin-top: 100px;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
/*pour le background du modal*/
.modal {
	display: flex;	
	z-index: 1;/*reste au premier plan*/
	left: 0;
	top: 0;
	width: 100%;
	height: 300%;
	background: rgba(0, 0, 0, 0.8);
}
.close {
	float: right;
	font-size: 20px;
	font-weight: bold;	
}
.close:hover,
.close:focus{
	text-decoration: none;
	cursor: pointer;
}
/*contenu du modal*/
.modal-content {
	text-align: center;
	justify-content: center;
	background-color: #fff;
	width: 700px;
	height: auto;
	margin: 15% auto;
	padding: 20px;
}

.modal-title {
	margin-top: 25px;
	font-size: 25px;
	font-style: bold;
}
.modal-image {
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-gap: 15px;
	margin: 50px;
}

.miniature {
	width: 100%;
	height: 100%;	
}
.fa-trash-can {
	position: absolute;
	z-index: 1;
	margin-left: -25px;
	margin-top: 5px;
	border: 1px solid black;
	background-color: #000000;
	color: #fff;
	padding: 2px;
}
.fa-trash-can:hover {
	cursor: pointer;
}
.addWork {
	color: #B3B3B3;
  	width: 550px;
  	height: 0px;
  	
}
.modal-content button{
	background-color: #1D6154;
  	color: #fff;
  	border: none;
  	padding: 10px 30px;
  	cursor: pointer;
  	border-radius: 20px;
	margin-top: 20px;
	font-family: 'Syne';
	font-weight: 200;
	font-size: 15px;
}
.filtres {
	text-align: center;
}
.filtres button {
	padding: 5px 15px;
	border-radius: 20px;
	border: 1.5px solid #1D6154;
	margin-right: 10;
	margin-left: 10px;
	margin-top: 30px;
	margin-bottom: 50px;	
	background-color: white;
	font-family: 'Syne';
	font-weight: 500;
	font-size: 15px;
	color: #1D6154;
}

.filtres button:hover {
	background-color: #1D6154;
	color: white;
}
.gallery {
	margin-top: 100px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#identification {
	width: 40%;
	margin: auto;
	padding-top: 150px;
	padding-bottom: 200px;
}
#identification >*{
text-align: center;
}
#identification h2 {
	margin-bottom: 20px;
}
#identification form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}
#identification input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#identification label {
	margin: 2em 0 1em 0;
}
#identification textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#identification p {
	text-decoration: underline;
}
input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}
.error-message {
	color: red;
	font-weight: bold;
	margin-top: 10px;
	font-size: large;
}
